<h1>Welcome to Tree Management System</h1>
<p>We currently have <strong><%=count%></strong> trees in our system!!
</p>

<form method="POST" action="/insert_tree">
    <input type="text" name="botanical" class="form" placeholder="Enter Botanical Name">
    <input type="text" name="somali" class="form" placeholder="Enter Somali Name">
    <button>Add a New Tree!</button>
</form>

<form method="POST" action="/update_tree">
    <input type="text" name="botanical" class="form" placeholder="Enter a Tree!">
    <button>Update</button>
</form>

<form method="POST" action="/search_trees">
    <input type="text" name="rainfall_min" class="form" placeholder="Enter Minimum Rainfall">
    <input type="text" name="rainfall_max" class="form" placeholder="Enter Maximum Rainfall">
    <input type="text" name="altitude_min" class="form" placeholder="Enter Minimum Altitude">
    <input type="text" name="altitude_max" class="form" placeholder="Enter Maximum Altitude">
    <select name="select" multiple>
        <% for(var count = 0; count < select_option.length; count++) { %>
            <option value="<%=select_option[count] %>">
                <%= select_option[count]%>
            </option>
            
        <% } %>
    </select>
    <button>Search</button>
</form>