<h1>This is the update page for trees</h1>
<p>Any aditional information you want to add for <strong><%=tree_name%></strong> ??
</p>

<form method="POST" action="/finish_update">
    <button>No Thanks!</button>
</form>

<form method="POST" action="/finish_update">
    <input type="text" name="arbic" class="form" placeholder="Enter Arabic Name">
    <input type="text" name="english" class="form" placeholder="Enter English Name">
    <input type="text" name="tree_type" class="form" placeholder="Enter Tree Type">
    <button>Update!</button>
</form>

